* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#card-container .card-wrapper {
  display: flex;
  justify-content: center;
  overflow: scroll;
}
#card-container #card-inner {
  width: 500px;
  height: auto;
}
#card-container .header-text {
  text-align: center;
  color: navy;
}
#card-container .header-text h2 {
  letter-spacing: 6px;
}
#card-container #card-design-Div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#card-container .designing-container {
  width: 90%;
  background: repeating-linear-gradient(320deg, rgb(51, 51, 208), rgb(169, 15, 66), navy);
  border-radius: 30px;
}
#card-container #card-wishesDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 15vh;
  padding: 10px 0;
  color: #fff;
}
#card-container #card-button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
#card-container #card-button {
  color: gray;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#card-container #designer2-container {
  height: auto;
  width: 100%;
  border: 1px solid red;
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
}
#card-container .btnDiv {
  width: 80%;
  display: flex;
  box-shadow: 0px 0px 3px #1c1c46;
  border: unset;
  outline: none;
  border-radius: 11px;
}
#card-container .Btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 100%;
  padding: 10px;
  border: unset;
  background-color: #fff;
  border-radius: 11px;
  text-transform: uppercase;
  color: #5a5a5a;
  font-weight: 700;
}
#card-container .Btn:hover {
  background: rgb(3, 24, 98);
  color: white;
}
#card-container .Btn::after {
  content: "";
  display: block;
  width: 0;
  background-color: rgb(237, 237, 237);
  height: 2px;
  margin: auto;
  transition: 0.5s;
}
#card-container .Btn:hover::after {
  width: 35%;
}
#card-container .grid-icons {
  display: flex;
  justify-content: space-between;
  margin: 7px 0px;
  font-size: 1.7em;
  padding: 0 10px;
  color: whitesmoke;
  background: rgb(216, 14, 81);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  align-items: center;
}
#card-container .birthday-boxes {
  display: block;
  width: 100%;
  position: relative;
  height: 50vh;
  overflow: scroll;
}
#card-container .tabIcons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f2f2f2, purple);
  border-radius: 30px;
  padding: 10px 2px;
  align-items: center;
  box-shadow: 5px 5px 7px #5a5a5a, -5px -5px 7px rgb(2, 2, 2);
  position: relative;
}
#card-container .tab-double img {
  padding: 0 1rem;
  width: 55px;
  cursor: pointer;
}
#card-container .plus-tab {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  background-color: navy;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#card-container #formDiv {
  width: 100%;
  background-color: rgb(237, 212, 231);
  transition: max-height 0.7s ease-out;
  padding-bottom: 10px;
  max-height: 0px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
#card-container #formDiv.formIn {
  max-height: 70vh;
}
#card-container .formHeader {
  text-align: center;
  padding: 10px 0;
  font-weight: 400;
  font-size: 1.2em;
  background-color: rgb(29, 7, 81);
  color: #f0F0F0;
}
#card-container #formTag {
  width: 100%;
  padding: 5px 7px;
}
#card-container .nameInput {
  width: 100%;
}
#card-container .formSect {
  margin: 20px 0;
}
#card-container #inputDiv {
  width: 100%;
}
#card-container .imageInput {
  width: 65%;
  overflow: hidden;
}
#card-container input, #card-container select {
  padding: 10px;
  outline: none;
  border: unset;
  font-size: 1.2em;
  background-color: #fff;
  overflow: hidden;
}
#card-container select::-webkit-scrollbar {
  display: none;
}
#card-container label {
  color: #222;
}
#card-container #inputDiv input, #card-container select {
  width: 32%;
}
#card-container #btn-Div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#card-container .btnSave {
  width: 30%;
  padding: 10px 4px;
  border: unset;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 400;
  color: #f0F0F0;
  background: rgb(8, 8, 104);
}
#card-container .birthday-boxes {
  width: 100%;
  background-color: rgb(216, 14, 81);
  height: 75vh;
}
#card-container .display-imageDiv {
  width: 100%;
  border: 1px solid rgb(3, 3, 78);
  font-size: 0.7em;
  overflow: hidden;
  padding: 0.4rem;
  background-color: rgba(238, 232, 232, 0.65);
  box-shadow: 5px 5px 8px #5a5a5a, -5px -5px 8px rgb(216, 14, 81);
  margin-bottom: 0.4rem;
}
#card-container .display-imageDiv::-webkit-scrollbar {
  display: none;
}
#card-container .display-imageDiv.clean {
  width: 47%;
  height: 25vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 4px;
}
#card-container .image-profileDiv {
  width: 100%;
  height: 70%;
  border-bottom: 2px solid Navy;
}
#card-container .image-profile {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px 7px 0 0;
}
#card-container .display-images {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  margin-bottom: 25px;
}
#card-container .display-images.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#card-container .rectangle {
  width: 100%;
  display: flex;
  justify-content: center;
}
#card-container .rectangle p {
  width: 13px;
  height: 5px;
  padding: 0 19px;
  background-color: #cdcde2;
  cursor: pointer;
  border-radius: 17px 8px 17px 8px;
}
#card-container .wishMsgDiv {
  padding: 0 0.4rem;
  font-style: italic;
  text-transform: none;
  text-align: start;
  width: 80%;
  height: 100%;
  position: absolute;
  display: none;
  margin: 4px;
}
#card-container .myWish {
  width: 100%;
  height: 1005;
  background-color: #d66b9f;
  padding: 5px;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid wheat;
}
#card-container .copyIconDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 10px;
  position: relative;
}
#card-container .copyIcon {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2px 5px;
  border: unset;
  border-radius: 3px;
}
#card-container .callmsg {
  display: flex;
  justify-content: space-between;
}
#card-container .callmsg button {
  font-size: 1.2em;
  width: 100%;
  background: green;
  color: white;
  border: unset;
  padding: 0.2rem 0.6rem;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
}
#card-container .instruction ul {
  list-style-type: decimal;
}
#card-container .welcome {
  text-align: center;
  color: navy;
  font-size: 18px;
  font-family: cursive;
  font-weight: 600;
}
#card-container .instruction {
  width: 100%;
  color: #f0F0F0;
  padding-bottom: 10px;
  height: 70vh;
}
#card-container .instruction.clenn {
  display: none;
}
#card-container .guide {
  text-align: center;
  padding: 10px;
  font-size: larger;
  text-decoration: underline;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  mix-blend-mode: overlay;
}
#card-container .instruction ul li {
  display: flex;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 18px;
}
#card-container .instruction ul li div {
  margin-right: 10px;
}
#card-container .instruction img {
  width: 14px;
}
#card-container .plus-tab1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: navy;
  font-size: 1.2em;
  color: #f0F0F0;
}
#card-container .presentDiv {
  position: relative;
}
#card-container .notify {
  position: absolute;
  top: -12px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: white;
  font-weight: 500;
}
#card-container .sliderPage {
  display: none;
  margin: auto;
  place-items: center;
  width: 100%;
  position: relative;
}
#card-container .sliderPage.sliderClose {
  display: block;
  position: relative;
  height: 40%;
}
#card-container .sliderCont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#card-container .right, #card-container .left {
  position: absolute;
  top: 25%;
  font-size: 30px;
  color: white;
  z-index: 10;
  cursor: pointer;
}
#card-container .right {
  right: 10px;
}
#card-container .left {
  left: 0px;
}
#card-container #code {
  width: 30%;
}
#card-container .fa-whatsapp {
  color: white;
}/*# sourceMappingURL=style.css.map */